# Build (build + 何かの文字 のディレクトリを除外)
/build*/


# SQLite
*.db

# i18n
*.mo

# res
*.res

# compile_commands
compile_commands.json
compile_commands.txt


#.gitignore_hidden_message
.gitignore_hidden_message

#.cache
/.cache/